<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nicknestor.nenfieldassistant">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="nicknestor.nenfieldassistant.activities.ListLocationsActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nicknestor.nenfieldassistant.activities.AddLocationActivity"
            android:label="@string/add_new_location"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="nicknestor.nenfieldassistant.activities.AddAssetActivity"
            android:label="@string/add_new_asset"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <activity
            android:name="nicknestor.nenfieldassistant.activities.ListAssetsActivity"
            android:label="@string/all_assets"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar" />
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--        <activity
                    android:name="nicknestor.nenfieldassistant.activities.AddAreaActivity"
                    android:label="@string/add_new_area"
                    android:screenOrientation="portrait"
                    android:theme="@android:style/Theme.Light.NoTitleBar" />
                <activity
                    android:name="nicknestor.nenfieldassistant.activities.ListAreasActivity"
                    android:label="@string/all_areas"
                    android:screenOrientation="portrait"
                    android:theme="@android:style/Theme.Light.NoTitleBar" />
        -->



    </application>

</manifest>
